.accordionItem {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    /* border-radius: 6px; */
    /* overflow: hidden; */
  }
  
  .accordionHeader {
    background: #f9f9f9;
    background: #BEBDBD;
    padding: 8px 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordionContent {
    padding: 16px;
    background-color: #fff;
  }
  